*{
    padding: 0;
    margin: 0;
}
#userregform{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.formlvl{
    display: flex;
    padding: 4px 2rem;
}
.formlvl>input{
    position: relative;
    left: 1rem;
}
.box{
    position: relative;
    top: 2rem;
    left: 2rem;
    padding: 5px 3px;
    border-top:  1px solid black;
    border-bottom:  1px solid black;
    border-left: 1px dashed black;
    border-right: 1px dashed black;
    padding: 0;
    margin:0;
}
.boxdot{

    padding: 5px 3px;
    border-bottom:  1px dashed black;
    border-left:1px dashed black ;
    border-right: 1px dashed black;
}